{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}  {% endblock %}

{% block content %}
<div class="wrapper">
    <div class="hot_fix"></div>
	<h2 class="stock_title stockTitle">Акція!</h2>
	<section class="movie hot_fix_3">
	        <div class="sofa">
		    <div class="shadows">
                <img src="{% static 'img/shadows/couple.png' %}" alt="couple" class="couple">
                <img src="{% static 'img/shadows/superman.png' %}" alt="superman" class="superman">
                <img src="{% static 'img/shadows/ufo.png' %}" alt="ufo" class="ufo">
            </div>
            <div class="yellow_floor"></div>
            <img class = "sofaImg" src="{% static 'img/sofa_cut.png' %}" alt="sofa">
        </div>
        <div class="tv tvAnimation">
            <img src="{% static 'img/shadow.png' %}" alt="" class="light">
            <!-- <img src="{% static 'img/TV.png' %}" alt="" class="telek"> -->
            <p class="description"><span>Акція триває з 15.01.2019 по 15.04.2019 по всій території України, крім тимчасово окупованих територій.В Акції бере участь тільки продукція ТМ «Lay’s» з банером «Кіно смакує краще з Lay’s» та акційним кодом всередині.</span></p>
        </div>

	</section>
	<section class="stock stockAnimation">
        <div class="hot_fix_2"></div>
        <div class="stock_cont">
            <div class="packs" id="scene">
                <div class="red_pack" data-depth="0.1"><img src="{% static 'img/packs/red.png' %}" alt="red pack"></div>
                <div class="yellow_pack" data-depth="0.2"><img src="{% static 'img/packs/yellow.png' %}" alt="yellow pack"></div>
                <div class="blue_pack" data-depth="0.1"><img src="{% static 'img/packs/blue.png' %}" alt="blue pack"></div>
                <div class="green_pack"  data-depth="0.2"><img src="{% static 'img/packs/green.png' %}" alt="green pack"></div>
            </div>
    		<div class="timer timerAnimation">
    			<p>Сеанс розпочнеться через</p>
    			<div id="flipdown" class="flipdown"></div>
    		</div>
        </div>
	</section>
</div>
{% endblock %}