.btn{
	font-family: $base-font-bold;
	font-weight: 600;
	letter-spacing: 2px;
	border: 2px solid #fff;
	background: none;
	text-transform: uppercase;
	color: #fff;
	display: block;
	margin:5em auto 0px;
	padding: 1em 2.5em; 
	&:hover{
		background:rgba(255,255,255, 0.4);
		cursor: pointer;
	}
}