.packs{
    position: relative;
    width: 100%;
    padding-bottom: 10%;
    // margin-top: 67%;
    img{
        // position: absolute;
        width: 100%;
        transform: scale(0);
        animation: pack 1.2s ease-in-out 2s forwards;
    }

    >div{
        @for $j from 1 through 4 {
            &:nth-child(#{$j}){
                img{
                    animation-delay: 2+0.1*$j+s;
                }
            }
        }
    }
    .red_pack{
        width: 21.8%!important;
        left: 19.4%!important;
        top: 13px!important;
        z-index: 9;
    }
    .yellow_pack{
        width: 19.8%!important;
        left: 34%!important;
        top: 10px!important;
        z-index: 10;
    }
    .blue_pack{
        width: 20%!important;
        left: 47%!important;
        top: 5px!important;
        z-index: 9;
    }
    .green_pack{
        width: 22.5%!important;
        left: 58.3%!important;
        top: 12px!important;
        z-index: 8;
    }
    // @media only screen and (max-width: $breakpoint-tab) {
    @media (max-aspect-ratio: 3/3) {
        display: none;
    }

}

@keyframes pack{
    70%{
        transform: scale(1);
    }
    85%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}