.sofa{
    position: absolute;
    bottom: 10%;
    left: -6.3%;
    width: 110.6%;
    perspective: 1000px;

    @media only screen and (max-width: $breakpoint-small){
        bottom: 11%;
        width: 117.6%;
        left:-9.3%;
    } 
    @media only screen and(max-width: $breakpoint-phone-rotate) and (min-aspect-ratio: 3/3){
        bottom: 3%;
        width: 110%;
        left: 50%;
        transform: translateX(-50%);
    }
     @media screen and (max-width: $breakpoint-phone-big) {
        bottom: 2%;
    }
    @media screen and (max-aspect-ratio: 3/3) {
        left: 0;
        right: 0;
        bottom: 0;
        width: 100vw;
        margin: auto;
    }

    >img{
        position: relative;
        z-index: 10;
    }
    .yellow_floor{
        background: $yellow;
        width: 110vw;
        height: 500px;
        position: absolute;
        top: 74%;
        left: 50%;
        transform: translateX(-50%);
        // @media screen and (max-width: $breakpoint-phone-big) {
        //     display: none;
        // }
    }
    .sofaImg{
        transform: rotateX(103.5deg);
        animation: sofa 1s ease-in-out forwards;
        width: 100%;
        transform-origin: 50% 100%;
    }
}
// animation: animation-name animation-duration animation-timing-function animation-delay animation-iteration-count animation-direction;
@keyframes sofa{
    0%{
        transform: rotateX(103.5deg);
    }
    70%{
        transform: rotateX(-14deg);
    }
    100%{
        transform: rotateX(0deg);
    }
}

