$base-font: 'GothamPro';
$base-font-Black: 'GothamPro-Black';
$base-font-bold: 'OpenSans-Semibold', sans-serif;
$base-font-italic: 'OpenSansLight-Italic', sans-serif;
$base-font-reg: 'OpenSans-Regular';


$title: 'Pacifico-Regular';

$yellow: #fde619;
$recipe-background:#f4f1ec;
$darkGrey: #434b49;
$blue:#0174c3;
$green-header:#8ac325;
$green-hover: #375639;

$stockWidth: 39.15%;

$anim-speed: 0.4s;

/*
// $breakpoint-large: 1700px;
// $breakpoint-middle: 1460px;
// $breakpoint-small: 1220px;

// $breakpoint-phone-small: 420px;
*/

$breakpoint-middle: 1460px;
$breakpoint-small: 1200px;
$breakpoint-tab: 1080px;
$breakpoint-phone-rotate: 876px;
$breakpoint-phone-big: 640px;
$breakpoint-phone: 520px;
$breakpoint-phone-5: 350px;
$aspect-ratio: 3/4;
