.btn {
	position: relative;
	display: block;
	border: 5px solid #fcc403;
	border-radius: 100px;
	box-shadow: 0px 0px 50px 1px rgba(0,0,0,.7);
	@media screen and (max-width: 169vh) {
		border: 3px solid #fcc403;
    }
	&::after {

		position: absolute;
		top: 0;
		left: 0;

		// content: 'РЕЄСТРУЙ КОД';
		box-sizing: border-box;
		display: flex;
		align-items: center;
		width: 100%;
		height: 100%;
		// padding-left: 169px;

		color: #fff;
		// font-size: 31px;

		background-color: #ed1d24;
		border-radius: 100px;
		border: 6px solid #fde619;
		cursor: pointer;

		// &:hover {
		// 	display: none;
		// }
	}

	// &:hover::after {
	// 	color: #ed1d24;
	// 	background-color: #fff;
	// }

	// &:hover > .btn__icon {
	// 	fill: red;
	// }


	&__text{
		color: #fff;
		font-weight: 700;
		letter-spacing: 1px;
		text-transform: uppercase;
		position: absolute;
		left: 55%;
		transform: translate(-50%);
		top: 34%;
		font-size: 1.5vw;
    	width: 100%;
    	text-align: center;

	}

	// @media screen and (max-width: 1687px) {
	// 	font-size: 0.85rem;		
	// }
	// @media screen and (max-width: 1469px) {
	// 	font-size: 0.75rem;		
	// }
	// @media screen and (max-width: 1286px) {
	// 	font-size: 0.65rem;		
	// }
	// @media screen and (max-width: 1157px) {
	// 	font-size: 0.55rem;		
			
	// }
}

.btn__icon {
	position: absolute;
	left: 9px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;
	fill: #ffffff;
	width: 3.6vw;

	@media screen and (max-width: 169vh) {
		left: 5px;
		width: 4.6vw;
    }
}

.btn__input {
	display: none;
	width: 100%;
	height: 100%;
	padding: 6% 6% 6% 6.4vw;
	background: #ed1d24;
	color: #fff;
	// font-size: 32px;

	border-radius: 100px;
	outline: none;
	border: 6px solid #fde619;

	@media screen and (max-width: 169vh) {
		border: 3px solid #fde619;
    }	
	&--show {
		display: block;
	}
}