.btn {
	position: relative;

	width: 581px;
	height: 130px;

	line-height: 105px;

	border: 7px solid #fcc403;
	border-radius: 100px;

	&::after {

		position: absolute;
		top: 0;
		left: 0;

		content: 'РЕЄСТРУЙ КОД';
		box-sizing: border-box;
		display: block;
		width: 100%;
		height: 100%;
		padding-left: 160px;

		color: #fff;
		font-size: 32px;

		background-color: #ed1d24;
		border-radius: 100px;
		border: 6px solid #fde619;
		cursor: pointer;

		&:hover {
			display: none;
		}
	}

	&:hover::after {
		color: #ed1d24;

		background-color: #ffffff;
	}

	&:hover > .btn__icon {
		fill: red;
	}
}

.btn__icon {
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;

	width: 95px;
	height: 94px;

	fill: #ffffff;
}

.btn__input {
	display: none;
	width: 100%;
	height: 100%;
	padding: 32px 60px;

	font-size: 32px;

	border-radius: 100px;
	outline: none;
	border: 6px solid #fde619;

	&--show {
		display: block;
	}
}