.btn {
	position: relative;
	display: block;
	border: 5px solid #fcc403;
	border-radius: 100px;
	box-shadow: 0px 0px 50px 1px rgba(0,0,0,.7);
	@media screen and (max-width: 169vh) {
		border: 3px solid #fcc403;
    }

  @media (max-aspect-ratio:3/3){
    border: 4px solid #fcc403;
  } 
	&::after {
		position: absolute;
		top: 0;
		left: 0;
		box-sizing: border-box;
		display: flex;
		align-items: center;
		width: 100%;
		height: 100%;
		color: #fff;
		background-color: #ed1d24;
		border-radius: 100px;
		border: 6px solid #fde619;
		cursor: pointer;

	}

	&__text{
		color: #fff;
		font-family: "Gotham Pro Bold";	
		letter-spacing: 1px;
		text-transform: uppercase;
		position: absolute;
		left: 55%;
		transform: translate(-50%);
		top: 34%;
		font-size: 1.5vw;
    width: 100%;
    text-align: center;
    @media (max-aspect-ratio:3/3){
      font-size: 4vw;

       @media screen and (max-height: 216vw){
        font-size: 1.5vh;
        top:40%;
       }
    }
	}
}

.btn__icon {
	position: absolute;
	left: 9px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;
	fill: #ffffff;
	width: 3.6vw;

	@media screen and (max-width: 169vh) {
		left: 5px;
		width: 4.6vw;
  }
  @media (max-aspect-ratio:3/3){
    width: 18%;
  } 
}

.btn__input {
	display: none;
	width: 100%;
	height: 100%;
	padding: 6% 6% 6% 6.4vw;
	background: #ed1d24;
	color: #fff;
	border-radius: 100px;
	outline: none;
	border: 6px solid #fde619;

	@media screen and (max-width: 169vh) {
		border: 3px solid #fde619;
    }	
	&--show {
		display: block;
	}
}