.hollywood {
	height: 100vh;

	font-weight: 300;
	color: #ffffff;

	background:#000 url("../img/hollywood/background.png") no-repeat center top;
	background-size: cover;
}

.hollywood__wrapper {
	width: 80vw;
	height: 100%;
	margin: 0 auto;
	padding-left: 35vw;
}

.hollywood__content {
	display: flex;
	flex-direction: column;
	padding-top: 19vh;
	height: 100%;
}

.hollywood__intro {
	width: 100%;
	margin-bottom: 10vh;
}

.hollywood__description {
	margin-bottom: 3vh;

	font-size: 1.5vw;
	text-align: center;
}

.hollywood__btn {
  position: relative;

  display: block;
	margin: 0 auto;
	margin-bottom: 11vh;
	width: 180px;
	padding: 1.6vh 0;
	padding-left: 20px;

	font-size: 0.7rem;
	text-align: left;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #ed1d24;
  outline: none;
  border: none;
  border: 3px solid #fcc403;
  border-radius: 5vh;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    border:	2px solid #fde619;
    border-radius: inherit;
  }
}

.hollywood__icon-triangle {
	position: absolute;
	right: 15px;
	top: 50%;

	width: 15px;
	height: 15px;
	transform: translateY(-50%);

	fill: #ffffff;
}

.hollywood__hero {
	display: none;
}

.hollywood__text {
	margin-top: auto;

	font-size: 0.5vw;
	text-align: center;
}


@media (max-width: 768px) {
	.hollywood {
		height: 100%;

		background-image: url("../img/hollywood/lights.png"), url("../img/hollywood/background-mobile.png");
		background-color: #000000;
		background-size: cover, cover;
		background-position: 0 -200px, 0 0;
	}

	.hollywood__wrapper {
		padding-left: 0;
	}

	.hollywood__content {
		padding-top: 0;
		height: 100%;
		padding-top: 60px;

		text-align: center;
	}

	.hollywood__intro {
		margin: 0;
		margin-bottom: 86px;
	}

	.hollywood__description {
		margin: 0;
		margin-bottom: 30px;

		font-size: 3.5vw;
	}

	.hollywood__text {
		width: 100%;

		font-size: 1.2vw;
	}

	.hollywood__btn {
		width: 180px;
		height: 47px;
		padding: 0;
		padding-right: 20px;
		margin-bottom: 30px;

		font-size: 12px;
		font-weight: 700;
		text-align: center;
	}

	.hollywood__icon-triangle {
		right: 17px;

		width: 12px;
		height: 12px;
	}

	.hollywood__hero {
		width: 300px;
		display: block;
		margin: 0 auto;
		margin-bottom: 10px;
	}
}