.instruction{
	width: 100%;
	position: absolute;
	bottom: 0vh;
	left: 0;
	z-index: 2;
	background: url('../img/Asset.svg');
	background-size: auto 100%;
	overflow: hidden;
	@media screen and (max-width: 182vh) {
	   bottom: 8.5%;
     } 
    @media (max-aspect-ratio:3/3){
    	bottom: 0;
    	@media screen and (min-height: $minHightIphX) {
    		bottom: 6%;
    	}
    }
	&__steps{
		display: flex;
		align-items: center;
		list-style: none;
		padding: 0;
		margin: 0 auto;
		width: 161vh;
		max-width: 1780px;
    
	@media screen and (max-width: 182vh) {
	    width: 85%;
     } 
    @media (max-aspect-ratio:3/3){
      width: 100%;  
      overflow: scroll;
      padding-top:15vh;      
    }
    &:first-child:before{
        display: none;
    }
		.instruction__item{
			padding: 3.2vh 7%;
			position: relative;
			display: flex;
			height: 100%;
			align-items: center;

        @media (max-aspect-ratio:3/3) {
          position: absolute;
          left: 50%;
          top: 0%;
          width: 33%;
          transform: translate(-50%);
          padding: 0;

        }
      }
			img{
				width: 100%;
			}
			.infoBtn{
				position: absolute;
				bottom: 33%;
				right: 29%;
				width: 100%;
				height: 15%;
				background: url('../img/information.svg') right no-repeat;
				background-size: contain;
				&:hover{
					cursor: pointer;
				}
			}
			&:before{
				content: '';
				display: block;
				width: 100%;
				height: 15%;
				background: url('../img/rightArrowWhite.svg') left no-repeat;
				background-size: contain;
				position: absolute;
				left: 0%;
				top: 50%;
				transform: translateY(-50%);
			}
			
		}
}	
