.megago {
	background: #00a3e2;
	height: 100vh;
	display: flex;
}

.js-btn {
	position: relative;
    display: none;
    align-items: center;
    width: 200px;
    padding: 15px 0 15px 20px;
    margin: 20px auto;
    font-size: 12px;
    text-align: left;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    background-color: #ed1d24;
    outline: 0;
    border: 3px solid #fcc403;
    border-radius: 5vh;
}

.megago__text .megago__arrows {
	display: none;
}

.megago__lenth {
	background: url(../img/megago/lenth.png);
	// height: 100vh;
	min-width: 182px;
}

.megago__headers {
	display: flex;
	flex-direction:column;
	width: 700px;
	color: white;
}

.megago__arrows {
	text-align: left;
	height: 8vh;
	line-height: 8vh;
	display: flex;
	align-items:center;
	font-weight: lighter;

	a{
		margin-left:20px;
		font-weight: 300;
		text-decoration: none;
		color: white;
	}

	img {
		margin-left: 20px;
	}
}

.megago__camera{
	height: 30vh;
	text-align: center;
	position: relative;

	img {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		height: 200px;
	}
}

.megago__logo {
	height: 25vh;
	position: relative;
	text-align: center;

	div {
		position: absolute;
		display: flex;
		align-items:center;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		justify-content:center;
	}

	img {
		height: 150px;
	}
}

.megago__films {
	height: 25vh;
	position: relative;

	img {
		position: absolute;
		display: flex;
		align-items:center;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		text-align: center;
		justify-content:center;
		height: 110px;
	}
}

.megago__text {
	display: flex;
	flex-direction:column;
	width: 900px;
	color: white;
	position: relative;
	text-align: center;
	height: 100vh;
}

.megago__text .megago__logo {
	display: none;
}

.megago__btn {
	height: 70px;
	padding: 0px;
	text-align: center;
	width: 40%;
	margin-top: 20px;
	margin-bottom: 0px;
	font-weight: 700;
	font-size: 20px;

	svg {
		height: 22px;
	}
}

.megago__watching {
	margin-top: 8vh;

	img {
		width: 80%;
	}

	h2 {
		padding: 1vh 0px;
		font-weight: 700;
		font-size: 2.5vh;
	}

	div {
		font-weight: 300;
		font-size: 2.2vh;
		span {
			font-weight: 600;
		}
	}
}

.circle {
	border-radius: 50%;
	height: 7vh;
	width: 7vh;
	background:#eed617;
	border: 5px solid #c8bd31;
	line-height: 6vh;
	text-align: center;
	color: #ed1d24;
	font-weight: bold;
	font-size: 3vh;
}

.megago__form > div {
	display: flex;
	justify-content:center;
	align-items:center;
	margin: 10px 0px;
}

.megago__form input{
	height: 7vh;
	margin-left: 20px;
	width: 30vw;
	border: 5px solid #eed617;
	border-radius: 10px;
	color: #2371b9;
	padding-left: 10px;
	text-align: center;
	font-weight: 700;
	padding: 0;
	&:focus {
		outline: none;
	}
}

input::placeholder      {
	color:#00a3e2;
	font-weight: 600;
}
input:focus::placeholder      {color: transparent;}

.megago__footer{
	color: black;
	font-size: 10px;
	color: white;
	padding: 30px 10px 0;
	// margin-top: auto !important;
}

.megago__text .megago__films {
	display: none;
}

form.megago__form {
	// height: 100%;
	display: flex;
	flex-direction: column;
}

// Tablet
@media (max-width: 1294px) {
	.megago__lenth {
		min-width: 116px;
		background-size: 100% auto;
		background-repeat: repeat-y;
		// background-repeat: no-repeat;
		// background-size: 100% 100%;
	}

	.megago__form input {
		padding-left: 15px;
		padding-right: 15px;
		width: 80%;
		height: 50px;
		font-size: 12px;
	}

	.circle {
    width: 50px;
    height: 50px;
    line-height: 40px;
    font-size: 17px;
	}

	.megago__btn {
    height: 50px;
    width: 212px;
		font-size: 14px;
		margin-bottom: 10px;
 }

	.megago__camera img {
    height: 128px;
	}

	.megago__logo img {
    height: 100px;
	}

	.megago__films img {
    height: 90px;
	}

	// .megago__watching {
 //    margin-top: 19vh;
	// }


	.megago__watching img {
    height: 70px;
	}

	.megago__watching h2 {
    font-size: 14px;
    padding: 10px 0;
	}

	.megago__watching div {
    font-size: 12px;
    padding: 0 5px;
	}

	.megago__text {
    width: 720px;
	}
}

// Mobile
@media (max-width: 768px) {
	.megago__text .megago__arrows {
		display: flex;
		img {
			padding: 10px;
		}
		a {
			margin-left: 0;
			padding-top: 5px;
		}
	}

	.megago__text .megago__films {
		display: block;
		height: 100px;
	}

	.megago__watching {
		margin-top: 0;
	}

	.megago__text .megago__logo {
		display: block;
		margin-bottom: 30px;
	}

	.megago {
		height: auto;
		position: relative;
	}

	.megago__headers {
		display: none;
	}

	.megago__lenth {
		// min-width: 50px;
		// height: 100%;
		// background-size: 100% auto;
		// background-repeat: repeat-y;
		// position: absolute;
		// top: 0;
		// left: 0;
		// right: 0;
	}

	.megago__text {
		flex-grow: 1;
		height: auto;
		padding-top: 0;
	}

	.circle {
    width: 40px;
    height: 40px;
    line-height: 31px;
    font-size: 17px;
	}

	form.megago__form {
		height: auto;
		padding-left: 20px;
		padding-right: 20px;
	}

	.megago__form > div {
    display: flex;
    justify-content: center;
    align-items: center;
		margin: 0;
		margin-bottom: 10px;
	}

	.megago__form input {
		padding-left: 15px;
		padding-right: 15px;
		width: 80%;
		height: 40px;
		font-size: 12px;
	}

	.megago__form input::placeholder {
		font-size: 9px;
	}

	.megago__btn {
    height: 50px;
    width: 212px;
		font-size: 14px;
		margin-bottom: 10px;
 }
 .megago__footer {
	 margin-top: 20px;
	 padding: 0;
	 padding-bottom: 10px;
	 position: static;
 }
}

@media (max-width: 768px) {
	.megago__lenth {
		min-width: 50px;
	}
	.megago__arrows {
		img {
			width: 49px;
		}
	}
}