.megago {
	background: #00a3e2;
	height: 100vh;
	display: flex;
}

.megago__lenth {
	background:url(../img/megago/lenth.png);
	height: 100vh;
	min-width: 182px;
}

.megago__headers {
	display: flex;
	flex-direction:column;
	width: 700px;
	color: white;
}

.megago__arrows {
	text-align: left;
	height: 8vh;
	line-height: 8vh;
	display: flex;
	align-items:center;
	font-weight: lighter;

	span{
		margin-left:20px;
		font-weight: 300;
	}

	img {
		margin-left: 20px;
	}
}

.megago__camera{
	height: 30vh;
	text-align: center;
	position: relative;

	img {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		height: 200px;
	}
}

.megago__logo {
	height: 25vh;
	position: relative;
	text-align: center;

	div {
		position: absolute;
		display: flex;
		align-items:center;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		justify-content:center;
	}

	img {
		height: 150px;
	}
}

.megago__films {
	height: 25vh;
	position: relative;

	img {
		position: absolute;
		display: flex;
		align-items:center;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		text-align: center;
		justify-content:center;
		height: 110px;
	}
}

.megago__text {
	display: flex;
	flex-direction:column;
	width: 900px;
	color: white;
	position: relative;
	text-align: center;
	height: 100vh;
}

.megago__text .megago__logo {
	display: none;
}

.megago__btn {
	height: 70px;
	padding: 0px;
	text-align: center;
	width: 300px;
	margin-top: 20px;
	margin-bottom: 0px;
	font-weight: 700;
	font-size: 20px;

	svg {
		height: 22px;
	}
}

.megago__watching {
	margin-top: 8vh;

	img {
		height: 140px;
	}

	h2 {
		padding: 20px 0px;
		font-weight: 700;
	}

	div {
		font-weight: 300;
	}
}

.circle {
	border-radius: 50%;
	height: 70px;
	width: 70px;
	background:#eed617;
	border: 5px solid #c8bd31;
	line-height: 65px;
	text-align: center;
	color: #ed1d24;
	font-weight: bold;
	font-size: 30px;
}

.megago__form > div {
	display: flex;
	justify-content:center;
	align-items:center;
	margin: 10px 0px;
}

.megago__form input{
	height: 70px;
	margin-left: 20px;
	width: 30vw;
	border: 5px solid #eed617;
	border-radius: 10px;
	color: #2371b9;
	padding-left: 10px;
	text-align: center;
	font-weight: 700;
}

input::placeholder      {color:#2371b9}
input:focus::placeholder      {color: transparent;}

.megago__footer{
	color: black;
	font-size: 10px;
	color: white;
	
	
	align-self: flex-end;
}

.megago__text .megago__films {
	display: none;
}

@media (max-width: 1200px) {
	.megago__lenth {
		min-width: 116px;
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}

	.megago__camera img {
    height: 128px;
	}

	.megago__logo img {
    height: 100px;
	}

	.megago__films img {
    height: 90px;
	}

	.megago__watching {
    margin-top: 19vh;
	}


	.megago__watching img {
    height: 70px;
	}

	.megago__watching h2 {
    font-size: 14px;
	}

	.megago__watching div {
    font-size: 12px;
	}

	.megago__text {
    width: 720px;
	}
}

@media (max-width: 768px) {
	.megago__text .megago__films {
		display: block;
		height: 100px;
	}

	.megago__watching {
		margin-top: 0;
	}

	.megago__text .megago__logo {
		display: block;
	}

	.megago {
		height: auto;
	}

	.megago__headers {
		display: none;
	}

	.megago__lenth {
		min-width: 50px;
		height: auto;
		background-size: contain;
		background-repeat: repeat-y;
	}

	.megago__text {
		flex-grow: 1;
		height: auto;
		padding-left: 10px;
		padding-right: 30px;
	}

	.circle {
    width: 40px;
    height: 40px;
    line-height: 31px;
    font-size: 17px;
	}

	.megago__form > div {
    display: flex;
    justify-content: center;
    align-items: center;
		margin: 0;
		margin-bottom: 10px;
	}

	.megago__form input {
		padding-left: 15px;
		padding-right: 15px;
		width: 80%;
		height: 40px;
		font-size: 12px;
	}

	.megago__form input::placeholder {
		font-size: 9px;
	}

	.megago__btn {
    height: 50px;
    width: 212px;
		font-size: 14px;
		margin-bottom: 10px;
 }

 .megago__footer {
	 margin-top: 20px;
	 position: static;
 }
}

@media (max-width: 576px) {

}