@font-face {
     font-family: 'Gotham Pro Medium';
     src: url('../fonts/GothamPro/GothamPro-Medium.woff2') format('woff2'),
         url('../fonts/GothamPro/GothamPro-Medium.woff') format('woff');
     font-weight: 500;
     font-style: normal;
 }
 @font-face {
     font-family: ' GothamPro-Light';
     src: url('../fonts/GothamPro/GothamPro-Light.ttf') format('ttf');
     font-style: normal;
      font-weight: 300;
 }
 @font-face {
     font-family: 'Gotham Pro Bold';
     src: url('../fonts/GothamPro/GothamPro-Bold.woff2') format('woff2'),
         url('../fonts/GothamPro/GothamPro-Bold.woff') format('woff');
     font-weight: bold;
     font-style: normal;
 }
 
 @font-face {
     font-family: 'Gotham Pro Black';
     src: url('../fonts/GothamPro/GothamPro-Black.woff2') format('woff2'),
         url('../fonts/GothamPro/GothamPro-Black.woff') format('woff');
       font-weight: 900;
       font-style: normal;
   }
   
   @font-face {
       font-family: 'Noto Sans';
       src: url('../fonts/NatoSans/NotoSans.woff2') format('woff2'),
           url('../fonts/NatoSans/NotoSans.woff') format('woff');
       font-weight: normal;
       font-style: normal;
   }
.megago{
	background: #00a3e2;
	height: 100vh;
	display: flex;
}
.lenth{
	background:url(../img/megago/lenth.png);
	height: 100vh;
	min-width: 182px;
}
.megago_headers{
	display: flex;
	flex-direction:column;
	width: 700px;
	color: white;
}
.megago_arrows{
	text-align: left;
	height: 8vh;
	line-height: 8vh;
	display: flex;
	align-items:center;
	font-weight: lighter;
	span{
		margin-left:20px;
		font-weight: light;
	}
	img{
		margin-left: 20px;
	}
}
.megago_camera{
	height: 30vh;
	text-align: center;
	position: relative;
	img{
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		height: 200px;

	}
}
.megago_logo{
	height: 25vh;
	position: relative;
	text-align: center;
	div{
		position: absolute;
		display: flex;
		align-items:center;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		justify-content:center;
	}
	img{
		height: 150px;
	}
}
.megago_films{
	height: 25vh;
	position: relative;
img{
		position: absolute;
		display: flex;
		align-items:center;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		text-align: center;
		justify-content:center;
		height: 110px;
	}
}
.megago_text{
	display: flex;
	flex-direction:column;
	width: 900px;
	color: white;
	position: relative;
	text-align: center;
	height: 100vh;
	.hollywood__btn{
		height: 70px;
		padding: 0px;
		text-align: center;
		width: 300px;
		margin-top: 20px;
		margin-bottom: 0px;
		font-family: 'Gotham Pro Bold';
		font-size: 20px;
		svg{
			height: 22px
		}
	}
}
.megago_watching{
	margin-top: 8vh;
	img{
		height: 140px;
	}
	h2{
		padding: 20px 0px;
		font-family: 'Gotham Pro Bold';
	}
	div{
		font-family: 'GothamPro-Light';
	}
}
.inpText{
	// margin-bottom: 20px;
}
.circle{
	border-radius: 50%;
	height: 70px;
	width: 70px;
	background:#eed617;
	border: 5px solid #c8bd31;
	line-height: 65px;
	text-align: center;
	color: #ed1d24;
	font-weight: bold;
	font-size: 30px;
	// float: left;
	// clear: both;
}
.megagoForm>div{
	display: flex;
	justify-content:center;
	align-items:center;
	margin: 10px 0px; 
}
.megagoForm input{
	height: 70px;
	margin-left: 20px;
	width: 30vw;
	border: 5px solid #eed617;
	border-radius: 10px;
	color: #2371b9;
	padding-left: 10px;
	text-align: center;
	font-weight: bold;
	font-family: 'Gotham Pro Bold';
}
::-webkit-input-placeholder {color:#2371b9}
::-moz-placeholder          {color:#2371b9}/* Firefox 19+ */
:-moz-placeholder           {color:#2371b9}/* Firefox 18- */
:-ms-input-placeholder      {color:#2371b9}

:focus::-webkit-input-placeholder {
  color: transparent
}
 
:focus::-moz-placeholder {
  color: transparent
}
 
:focus:-moz-placeholder {
  color: transparent
}
 
:focus:-ms-input-placeholder {
  color: transparent
}

.footer{
	color: black;
	font-size: 10px;
	color: white;
	position: absolute;
	bottom: 10px;
	left: 0px;
	right: 0px;
	margin:auto; 
}