.nav-menu{
  background: #ffdf0c;
  height: 8vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  display: none;
  @media (max-aspect-ratio:3/3){
      display: block;
      height: 6vh;
      @media screen and (max-height: $maxHightTab){
        height: 9vh;
      }
      @media screen and (min-height: $minHightIphX) {
        height: 6vh;
      }
  }
}