.page-header {
  height: 100vh;
  position: relative;
  background-repeat:  no-repeat;
  background-size: 690vh auto;
  background-image: url('../img/wallRedText.png');
  background-position: center;

  @media screen and (max-width: 182vh) {
    background-size: auto 135vw;
    background-position: center;
 
  }

  &__right {
    height: 38vh;
    width: 27%;
    position: absolute;
    right: 11%;
    top: 63%;
    @media screen and (max-width: 169vh) {
      top: 59vh;  
    }
  }

}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  // background: url('../img/wall.jpg') no-repeat;
  // background-size: contain;
}

.page-header__left {
  width: 70%;
  height: 100vh;
}




