.registration{
	width: 100vw;
	height: 100vh;
  background-size: 694vh 241%;
  background-position: center;
  font-weight: 700;
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index:100;
  input{
    cursor: pointer;
    text-align: center;
    padding: 2.5% 10%;
  }
  
}
.registration:before{
	background: rgba(0,159,229,0.8);
	background:rgba(35,113,185,0.8);
	width: 100vw;
	height: 100vh;
	position: absolute;
	content: '';
}

.registration__wrapper{
	position: absolute;
	width: 60vh;
	padding: 2%;
  height: max-content;
	background:rgba(254,251,232,0.9);
	left: 0px;
	bottom: 0px;
	right: 0px;
	top: 0px;
	margin: auto;
	border-radius: 20px;
	// min-width: 600px;
	// min-height: 800px;

  .button{
    margin-bottom: 0;
  }

}
.registration__btn{
	width: 67%;
	font-size: 2vh;
  font-family: 'Gotham Pro Bold';
  color: white;
  background:#ed1d24;
  .hollywood__icon-triangle{
    width: 1.2vh;
    right: 2vh;
  }

}
.registration__head{
	color: #ed1d24;
	font-weight: 900;
	text-transform: uppercase;
	text-align: center;
	font-size: 3vh;
  margin: 1% auto 5%;
}
.registration input:focus{
	border-color: #fcc403; 
}
 .registration input{
	cursor: pointer;
  font-family: 'Gotham Pro Bold';
  text-align: center;
  font-size: 2vh;
}
.registration__inp{
	text-align: center;
	margin: 1.5% auto;
}
.registration__question{
	text-align: center;
	font-size: 12px;
	font-weight: 900;
	border-bottom: 2px solid #fcc403;
	width: 35%;
	margin: auto;
	margin-bottom: 15px;
	padding-bottom: 20px;
}
.registration__question a{
	color: red;
	text-decoration: none; 
}
.registration__logo{
	text-align: center;
  img{
    width: 25%;
  }
}
.registration__close{
    position: absolute;
    font-size: 55px;
    font-weight: 100;
    top: 0;
    right: 10px;
    color: red;
    cursor: pointer;
}
  @media (max-aspect-ratio: 3/3) {

  	.registration__wrapper{
  		width: 100%;
      height: 100vh;
  		border-radius:0;
  	}
  	// input{
  	// 	width: 78%;
  	// }
  	.registration__btn{
  		width: 78%;
  	}
  }

.label__checkbox {
  display: none;
}
.label__check {
  display: inline-block;
  border-radius: 50%;
  border: 0.5vh solid #eed617;
  background: #fff;
  vertical-align: middle;
  margin-right: 2vh;
  width: 2em;
  height: 2em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border 0.3s ease;
}
.label__check i.icon {
  opacity: 0.2;
  font-size: calc(1rem + 1vw);
  color: transparent;
  transition: opacity 0.3s 0.1s ease;
  -webkit-text-stroke: 3px #ed1d24;
}

.label__checkbox:checked + .label__text .label__check {
  -webkit-animation: check 0.5s cubic-bezier(0.895, 0.03, 0.685, 0.22) forwards;
          animation: check 0.5s cubic-bezier(0.895, 0.03, 0.685, 0.22) forwards;
}
.label__checkbox:checked + .label__text .label__check .icon {
  opacity: 1;
  -webkit-transform: scale(0);
          transform: scale(0);
  color: white;
  -webkit-text-stroke: 0;
  -webkit-animation: icon 0.3s cubic-bezier(1, 0.008, 0.565, 1.65) 0.1s 1 forwards;
          animation: icon 0.3s cubic-bezier(1, 0.008, 0.565, 1.65) 0.1s 1 forwards;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@-webkit-keyframes check {
  0% {
    width: 1.5em;
    height: 1.5em;
    border-width: 5px;
  }
  10% {
    width: 1.5em;
    height: 1.5em;
    opacity: 0.1;
    background: #ed1d24;
    border-width: 15px;
  }
  12% {
    width: 1.5em;
    height: 1.5em;
    opacity: 0.4;
    background: #ed1d24;
  }
  50% {
    width: 2em;
    height: 2em;
    background: #ed1d24;
    opacity: 0.6;
  }
  100% {
    width: 2em;
    height: 2em;
    background: #ed1d24;
    opacity: 1;
  }
}
@keyframes check {
  0% {
    width: 1.5em;
    height: 1.5em;
    border-width: 5px;
  }
  10% {
    width: 1.5em;
    height: 1.5em;
    opacity: 0.1;
    background: #ed1d24;
    border-width: 15px;
  }
  12% {
    width: 1.5em;
    height: 1.5em;
    opacity: 0.4;
    background: #ed1d24;
  }
  50% {
    width: 2em;
    height: 2em;
    background: #ed1d24;
    opacity: 0.6;
  }
  100% {
    width: 2em;
    height: 2em;
    background: #ed1d24;
    opacity: 1;
  }
}
.registration__agreement{
	width: 67%;
	display: flex;
	align-items: center;
	height: 35px;
  margin: 2% auto;

}
.registration__agreementText, .registration__agreementText2{
  font-size: 1.2vh;
  text-align: left;
  font-weight: 100;
}
.underline{
	text-decoration: underline;
	color: black;
}
