.room {
  position: relative;
  width: 100%;
  margin-top: -20vh;
  &__wall{
    width: 100%;
  }
  &__sofa {
    width: 44%;
    margin: -14% 0 0 7%;
  
  }
  &__people{
    width: 46%;
    // display: none;
    display: block;
    margin: -27% 0 0 7%;
  }
}

.room__scroll {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 147px;
  margin: 0 auto;

  fill: transparent;
}

.room__shadow {
  position: absolute;
  z-index: 1;

  &--couple {
    left: 220px;
    top: 133px;
  }

  &--superman {
    top: 133px;
    left: 260px;
  }

  &--alien {

  }
}