.room {
  position: relative;

  padding-top: 16%;
}

.room__people {
  position: absolute;
  top: 133px;
  left: 188px;
  z-index: 3;
}

.room__sova {
  position: absolute;
  top: 283px;
  left: 165px;
  z-index: 2;
}

.room__tv {
  position: absolute;
  bottom: 0;
  left: 332px;
  z-index: 4;

  width: 603px;
  height: 285px;

  color: #ffffff;
  text-align: center;

  background: #232930 url("../img/room/tv.png") no-repeat;
  background-size: cover;
}

.room__scroll {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 147px;
  margin: 0 auto;

  fill: transparent;
}

.room__shadow {
  position: absolute;
  z-index: 1;

  &--couple {
    left: 220px;
    top: 133px;
  }

  &--superman {
    top: 133px;
    left: 260px;
  }

  &--alien {

  }
}