body{
    overflow: hidden;
}
.show{
    transform: translate3d(0, -100%, 0);
}
#bottom-block{
    position: relative;
    z-index: 3;
    transition: transform 500ms;
}

@media (max-aspect-ratio:3/3) {
    body{
        overflow: auto;
    }
    .show{
        transform: none;
    }
}