body{
    overflow: hidden;
}
.prizes{
    position: relative;
    z-index: 4;
    transition: transform 600ms;
    transform: translate3d(0, 0, 0);
}
.hollywood{
    position: relative;
    z-index: 5;
    transition: transform 600ms;
    transform: translate3d(0, -100%, 0);
}
.prizes.show{
  transform: translate3d(0, -100%, 0);
}

.hollywood.show{
  transition: transform 600ms 1s;
  transform: translate3d(0,-200%,0);
}

@media (max-aspect-ratio:3/3) {
    body{
        overflow: auto;
    }
    .show,.hollywood,.prizes,.hollywood.show,.prizes.show{
        transform: none;
    }
}