<section class="instruction">
		<!-- <img src="img/reelBackground.svg" alt="" class="instruction__background"> -->
		<ul class="instruction__steps slideshow-container">
			<li class="instruction__item mySlides ">
				<img class = ' lays' src="img/step1.svg" alt="">
				<div class="infoBtn" id="infoBtn" title="В акції беруть участь тільки пачки ТМ «Lay’s» з акційним банером «Кіно смакує краще з Lay’s» та кодом всередині."></div>
				<div class="infoText infoTextStyle">В акції беруть участь тільки пачки ТМ «Lay’s» з акційним банером «Кіно смакує краще з Lay’s» та кодом всередині.</div>
			</li>	
			<li class="instruction__item">
				<img  class = 'mySlides' src="img/step2.svg" alt="">
			</li>	
			<li class="instruction__item">
				<img class = 'mySlides' src="img/step3.svg" alt="">
			</li>	
			<li class="instruction__item">
				<img  class = 'mySlides' src="img/step4.svg" alt="">
			</li>

		</ul>
		<img   class="arrow" src="../img/rightArrowWhite.svg" onclick="plusSlides(1)" alt="">
		<script>
			var infoText = document.getElementsByClassName('infoText')[0];
			var infoBtn = document.getElementById('infoBtn');
			infoBtn.onclick =function(){
				infoText.classList.toggle('infoText')
			}

			// Slider
			var slideIndex = 1;
			showSlides(slideIndex);
			function plusSlides(n){
				showSlides(slideIndex +=n);
			}
			function showSlides(n){
				if (screen.width<769) {
				var i;
				var slides = document.getElementsByClassName('mySlides');
				if (n>slides.length) {
					slideIndex = 1
				}
				for(i=0;i<slides.length;i++){
					slides[i].style.display = 'none'
				}
				slides[slideIndex-1].style.display = 'flex'
				}
			}
		</script>
</section>

