<section class="instruction">
		<!-- <img src="img/reelBackground.svg" alt="" class="instruction__background"> -->
		<ul class="instruction__steps">
			<li class="instruction__item">
				<img src="/img/step1.svg" alt="">
				<div class="infoBtn" title="В акції беруть участь тільки пачки ТМ «Lay’s» з акційним банером «Кіно смакує краще з Lay’s» та кодом всередині."></div>
			</li>	
			<li class="instruction__item">
				<img src="/img/step2.svg" alt="">
			</li>	
			<li class="instruction__item">
				<img src="/img/step3.svg" alt="">
			</li>	
			<li class="instruction__item">
				<img src="/img/step4.svg" alt="">
			</li>	
		</ul>
</section>

