<include src="src/template/nav-menu.html"></include>

<header class="page-header">
		<div class="page-header__wrapper">
			<div class="page-header__left room">

				<div class="room__wrapper">
					<div class="shadow">
						<img class="room__shadow room__shadow--couple" src="/img/shadows/couple.png" alt="">
						<img class="room__shadow room__shadow--superman" src="/img/shadows/superman.png" alt="">
						<img class="room__shadow room__shadow--alien" src="/img/shadows/ufo.png" alt="">
					</div>
					<img class="room__sofa" src="/img/sofa_cut.png" alt="">
					<img class="room__people" src="/img/people_yellowShadow.png" alt="">
				</div>
				<div class="page-header__btn" >
					<div class="appsForMob" id="js-show-mob-app">
						<!-- href="viber://chat?number=0934079904" -->
						<a href="viber://pa?chatURI=laysukraine">
							<img src="/img/viber.png" alt="">
						</a>
						<p>Або реєструй код</p>
						<a href="tg://resolve?domain=Laysua_bot" target="blank">
							<img src="/img/telegram.svg" alt="">
						</a>
					</div>
					<div class="btn" id="js-btn-animation">
						<input class="btn__input" type="text" name="code" id="super-puper-input-id" maxlength="11">
						<!-- <span class="btn__text"></span> -->
						<svg class="btn__icon" width="95" height="94" id="send-code">
							<use xlink:href="#icon-wheel" class="animationSvg"></use>
						</svg>
					</div>
					<p class="find-сode" id="show-find-modal">Як знайти код?</p>
				</div>
				<div class="room__tv tv">
					<div class="tv__shadow"></div>
					<img src="" alt="">
					<div class="tv__scroll-btn">
						Крути
						<svg width="29" height="46">
							<use xlink:href="#icon-arrow_down"></use>
						</svg>
						Вниз
					</div>
				</div>
			</div>
		</div>

		<include src="src/template/instr.html"></include>

	</header>
