<!-- <section class="profile" onclick="hideModalProfileOverlay()"> -->
<section class="profile">
	<div class="profile__wrapper" onclick="event.stopPropagation()">
			<div class="profile__close">&times;</div>
			<div class="profile__logo"><img src="/img/logo.png" alt=""></div>
			<div class="profile__infoblock"><span class="profile__inf">Номер телефону <span id="phone"></span></span></div>
			<div class="profile__infoblock"><span class="profile__inf">Email: <span id="email"></span></span></div>
			<div class="profile__voucher" id="codes">
				<p class="profile__row"><span class="profile__code">12312672123</span><span class="profile__prize">7-денна підписка на перегляд відеохітів від Megogo. Код активації: 123123123123 </span> <span class="profile__date">14.01.2019 16:26</span></p>
				<p class="profile__row"><span class="profile__code">12312672123</span><span class="profile__prize">7-денна підписка на перегляд відеохітів від Megogo. Код активації: 123123123123 </span> <span class="profile__date">14.01.2019 16:26</span></p>
				<p class="profile__row"><span class="profile__code">12312672123</span><span class="profile__prize">7-денна підписка на перегляд відеохітів від Megogo. Код активації: 123123123123 </span> <span class="profile__date">14.01.2019 16:26</span></p>
				<p class="profile__row"><span class="profile__code">12312672123</span><span class="profile__prize">7-денна підписка на перегляд відеохітів від Megogo. Код активації: 123123123123 </span> <span class="profile__date">14.01.2019 16:26</span></p>
				<p class="profile__row"><span class="profile__code">12312672123</span><span class="profile__prize">7-денна підписка на перегляд відеохітів від Megogo. Код активації: 123123123123 </span> <span class="profile__date">14.01.2019 16:26</span></p>
				<p class="profile__row"><span class="profile__code">12312672123</span><span class="profile__prize">7-денна підписка на перегляд відеохітів від Megogo. Код активації: 123123123123 </span> <span class="profile__date">14.01.2019 16:26</span></p>
			</div>
			<div class="profile__head">Маєш код авторизації MEGOGO? <br> Активуй та переглядай відео у форматі HD</div>
			<!--<a class="profile__btn button" href="https://megogo.net/ru/auth_login?from=/ru/profile" >АКТИВУВАТИ</a>-->
			<a class="profile__btn button" href="/megogo" >АКТИВУВАТИ</a>
	</div>
</section>
