@import 'commons';
@import 'flipdown.scss';


.wrapper{
	display: flex;
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	align-items: stretch;
	background-color: $yellow;
	background-repeat: no-repeat;
    overflow: hidden;
    @media (max-aspect-ratio:3/3){
		flex-direction: column;
		height: auto;
		height: 100vh;
		position: relative;
    }
    .hot_fix{
        position: absolute;
        bottom: 21%;
        left: 0;
        width: 100%;
        height: 100%;
        background-position: -399.7vw bottom;
        // background-size: 97.2% auto;
        background-size: 97.2vw auto;
        background-image: url(../img/yellow_bg.png);
        opacity: 0;
        animation: hot_fix 1s linear 1s forwards;
        @media only screen and (max-width: $breakpoint-small){
        	background-position: -13vw bottom;
        	background-size: 103vw auto;
        }
        @media only screen and(max-width: $breakpoint-phone-rotate){
        	bottom: 14%;
			background-position: -10vw bottom;
    		background-size: 96vw auto
        }
         @media only screen and (max-width: $breakpoint-phone-big){
        	bottom: 13%;
        	background-position: -13vw bottom;
        	background-size: 103vw auto;

        }
    	@media (max-aspect-ratio: 3/3) {
			background:none;
        }
    }

    .hot_fix_3{
       	@media (max-aspect-ratio: 3/3) {
        	position: absolute;
			background-image: url(../img/yellowBgMob.jpg);
        	background-repeat: no-repeat;
        	background-size: 88vh;
        	background-position: center -16vw;
        	
        	@media screen and (max-width: $breakpoint-phone-big){
    			background-size: 120vw;
        		background-position: center -12vw;
        	}
        }

    }
	.movie{
		width: 60.85%;
		position: relative;
		display: flex;
		flex-direction: column;
		overflow: hidden;

		.tv{
			position: absolute;
			left: 50%;
			display: flex;
		    width: 43%;
			.description{
                background: transparent url('../img/TV.png');
                background-size: 100% 100%;
                width: 100%;
                padding: 15px 25px 17px;
				z-index: 2;
				font-family: $base-font;
				color: white;
				font-size: 1rem;
				text-align: center;
				line-height: 1.3em;

                @media only screen and (max-width: $breakpoint-middle){
                    font-size: .8rem;
                }
                @media only screen and (max-width: $breakpoint-small){
                    font-size: .6rem;
					padding: 15px 10px 10px;					
                }
                @media only screen and(max-width: $breakpoint-phone-rotate) and (min-aspect-ratio: 3/3){
		        	font-size: .5rem;
		        	padding: 7px 5px 5px;
		        }
                 @media only screen and (max-width: $breakpoint-phone-big) and (min-aspect-ratio: 3/3){
                    font-size: .4rem;
                    
                 }
			}
            @media (max-aspect-ratio: 3/3){
            	width: 35%;
            }

		}
		@media (max-aspect-ratio: 3/3){
            width: 49vh;
        }

	}
	.stock{
		width: $stockWidth;
        background: #2371B9;
        position: relative;
        height: 100vh;
        .stock_cont{
            width: 100%;
            position: absolute;
            left: 0;
            top: 51.7%;


		    @media only screen and (max-width: $breakpoint-middle){
				width: 83%;
				left: 50%;
				transform: translateX(-50%);
				top: 50.5%;
			}
            @media screen and (max-width: $breakpoint-phone-rotate) and (min-aspect-ratio: 3/3){
				top: 49%;
				width: 80%;
				margin-bottom: 11%;		          
		    }
		    @media (max-aspect-ratio: 3/3) {
				top: 58.7%;
			}
        }
		.timer{
			margin-bottom: 50px;
			p{
				font-family: $base-font;
				font-weight: 600;
				color: $yellow;
				font-size: 2.4rem;
				letter-spacing: 1px;
				text-align: center;
				margin-bottom: 30px;
				
				@media (max-aspect-ratio: 3/3) {
					margin: auto auto 130px;
			  		p{
			  			font-size: 1.9rem;
			  			margin-bottom: 10px;
			  		}
				}
				@media only screen and (max-width: $breakpoint-middle){
					font-size: 1.9rem;
					margin-bottom: 4px;
				}
				@media screen and (max-width: $breakpoint-phone-rotate) and (min-aspect-ratio: 3/3){
					font-size: .9rem;
					margin-bottom: 4px;
				}	
				@media screen and (max-width: $breakpoint-phone-big) {
        			margin-bottom: 10px;
				}
				@media screen and (max-width: $breakpoint-phone){
					// margin-bottom: -3px;
					font-size: 1.2rem;
				}	
			}		
		}
        .hot_fix_2{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-position: center;
            background-size: 189.8% auto;
            background-image: url(../img/blue_bg.png);
            opacity: 0;
            animation: hot_fix 1s linear 1.5s forwards;
			@media only screen and (max-width: $breakpoint-middle){
				background-size: 160% auto;

			}
			@media (max-aspect-ratio: 3/3) {
	            background-image: url(../img/blue.jpg);
            	background-repeat: no-repeat;
            	background-size: 162vw auto;
            	background-position: center 65%;
            	
            	@media screen and (max-width: $breakpoint-phone) {
	        		background-size: 205vw;
	        	}
	        }
	        

        }
		@media (max-aspect-ratio: 3/3){
            width: 52vh;
        }
	}
		.stock_title{
			color: $yellow;
			background: #ed1d24;
			padding: 2vw 0 1vw;
			text-transform: uppercase;
			font-weight: bold;
			text-align: center;
			position: absolute;
			top: 0;
			right: 0;
			width: $stockWidth;
			z-index: 2;
		    	@media (max-aspect-ratio: 3/3) {
			  		width: 100%;
					padding: 20px 0px 10px;
					font-size: 3.5rem;
				}
				@media screen and (max-width: $breakpoint-phone-rotate) {
					font-size: 2.5rem;
				}
				@media screen and (max-width: $breakpoint-phone-big){
        		font-size: 2rem; 
        		padding: 10px 0 5px;
        	}
			}

		// @media screen and (max-width: $breakpoint-tab){
			@media (max-aspect-ratio: 3/3) {

			  .movie{
			  	height: 49vh;
			  	width: 100%;
			  	margin-top: 0px;
			  	padding-top: 0;
			  	// background-position: center 70%;
			  	// background-size: auto 100%;

			  	.description span{
			  		display: none;
			  	}
			  }
			  .stock{
			  	width: 100%;
			  	flex: 4;
			  	background-position: 50% 95%;
			  	padding-top: 0;
			  	height: 57vh;
			  	&:before{
			  		content:'Акція триває з 15.01.2019 по 15.04.2019 по всій території України, крім тимчасово окупованих територій.В Акції бере участь тільки продукція ТМ «Lay’s» з банером «Кіно смакує краще з Lay’s» та акційним кодом всередині.';
			  		display: block;
			  		position: absolute;
			  		bottom: 30px;
			  		left: 50%;
			  		font-weight: 900;
			  		transform: translateX(-50%);
			  		width: 70%;
			  		font-family: $base-font;
			  		font-size: 2rem;
			  		text-align: center;
			  		line-height: 1em;
			  		z-index: 5;

			  		// @media screen and (max-width: $breakpoint-tab) {
	  			
		  			@media (max-aspect-ratio: 3/3) {
			  			font-size: 1.3rem;
			  		}
			  	}
			  }
			}
			
		// }

		@media screen and (max-width: $breakpoint-phone-big) {
        	.movie {
        		// height: 49vh;
        	}
        	.stock {
        		// height: 52vh;
        		padding-bottom: 200px;
        		// .stock_cont{
        		// 	width: 60%;
        		// 	top: 58%;
        		// }
        		&:before{
					bottom: 0;
        		}
       		}	
        }

		@media only screen and (max-width: $breakpoint-phone) {
			.movie {
        		// height: 48vh;
        	}
			.stock_title{
				font-size: 1.5rem;
				padding: 8px 0 4px;
			}
			.stock{
				// height: 50vh;
				&:before{
					width: 80%;
					bottom: 5px;
					font-size: .8rem;
				}

				// .stock_cont {
				// 	width: 70%;
				// }
			}

		}
	}

@keyframes hot_fix{
    100%{
        opacity: 1;
    }
}
@keyframes letters{
    100%{
        transform: translateY(0);
    }
}

@keyframes alert{
    66%{
        transform: translateY(0) rotate(0deg);
    }
    76%{
        transform: translateY(0) rotate(90deg);
    }
    80%{
        transform: translateY(0) rotate(85deg);
    }
    85%{
        transform: translateY(0) rotate(90deg);
    }
    90%{
        transform: translateY(0) rotate(88deg);
    }
    95%{
        transform: translateY(0) rotate(90deg);
    }
    100%{
        transform: translateY(0) rotate(90deg);
    }
}